<div class="card">
    <div class="card-body">
      <h2>Login</h2>
      <form>
        <div class="form-group">
          <label for="username">Email:</label>
          <input type="text" id="username" name="username" class="form-control" required>
        </div>
        <div class="form-group">
          <label for="password">Senha:</label>
          <input type="password" id="password" name="password" class="form-control" required>
        </div>
        <button  type="button" class="btn btn-primary" (click)="login()">Entrar</button>
      </form>
      <div class="options">
        <a href="#">Esqueceu a senha?</a>
        <a routerLink="/create">Criar conta</a>
      </div>
    </div>
  </div>
  