<div class="container_card">
<article class="card">
    <img
      class="card__background"
      [src]="photoBigCard"
      alt=""
      width="1920"
      height="2193"
    />
    <div class="card__content | flow">
      <div class="card__content--container | flow">
        <h2 class="card__title">{{titleBigCard}}</h2>
        <p class="card__description">
          {{descricaoBigCard}}
        </p>
      </div>
      <a href="#" button class="card__button">Veja mais</a>
    </div>
  </article>
</div>