<div class="menu__container">
<div class="menu__img">
    <img 
    [src]="[logotip]"
    alt="" 
    srcset=""
    width="50px"
    height="50px">
</div>
<div class="menu_name">
    <h4>LivroVia</h4>
</div>
<div class="menu_centre">
<div class="menu_search">
    <input type="text" class="search_term" placeholder="Pesquisa...">
    <button type="submit" class="search_button"></button>
    <i class="fa fa-search"></i>
</div>
</div>

<div class="menu_item">
    <ul>
        <li class="car">
            <img 
            [src]="logocar" 
            alt="" 
            srcset=""
            width="30px"
            height="30px">
        </li>
        <li class="account">
            <img [src]="logoaccount"
            srcset=""
            width="30px"
            height="30px">
        </li>
    </ul>
</div>

</div>
