.menu__container{
    display:flex;
    flex-direction: row;
    position: relative;
    z-index: 999;
    background-color: #ffffff;
    width: 99%;
    height: 70px;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
    border-radius: 10px 10px 0 0;
   
}

.menu__img{
    margin-left:80px;
    display: flex;
    align-items: center;
}

.menu_name{
margin-left: 10px;
display: flex;
font-family: 'Lucida Sans';
}
.menu_centre{
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.menu_search{
    width: 100%;
    display: flex;
    align-items: center;
}

.search_term{
    width: 100%;
    border: 2px solid #a5acad;
    border-right: none;
    padding: 5px;
    height: 30px;
    border-radius: 15px 0 0 15px;
    outline: none;
    color: #9DBFAF;
}
.search_term:focus {
    color: black;
  }

.search_button{
    width: 40px;
    height: 44px;
    border: 2px solid #a5acad;
    background: #fff;
    text-align: center;
    color: black;
    border-radius: 0 15px 15px 0;
    cursor: pointer;
    font-size: 20px;
    border-left: #fff;
}

.menu_item {
    position: absolute;
    top: 20px; /* Ajuste conforme necessário para definir a distância do topo */
    right: 80px; /* Ajuste conforme necessário para definir a distância da direita */
    
  }
  
  .menu_item ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .menu_item li {
    display: inline-block;
    margin-left: 150px; /* Adicione algum espaço entre os ícones se desejar */
  }

