<div class="menu__container">
<div class="menu__img">
    <a routerLink="/home"><img 
    [src]="[logotip]"
    alt="" 
    srcset=""
    width="50px"
    height="50px"></a>
</div>
<div class="menu_name">
    <h4>LivroVia</h4>
</div>
<div class="menu_centre">
<div class="menu_search">
    
    <input type="text" class="search_term" placeholder="Pesquisa...">
    <button type="submit" class="search_button">
    <i class="fas fa-search"></i></button>

</div>
</div>

<div class="menu_item">
    <ul>
        <li class="like">
            <a href="#"><img 
            [src]="logolike" 
            alt="" 
            srcset=""
            width="30px"
            height="30px">
        </a></li>
        <li class="car">
            <a routerLink="/carrinho"><img 
            [src]="logocar" 
            alt="" 
            srcset=""
            width="30px"
            height="30px">
        </a></li>
    <li>
    <div class="dropdown">
        <a href="#">
            <img [src]="logoaccount" alt="" srcset="" width="30px"
            height="30px">
        </a>
        <div class="menu">
            <a href="#">Conta</a>
            <a href="#">Relatorio</a>
            <a href="#">Historico</a>
            <a href="#">Sair</a>
        </div>
    </div>
</li>
</ul>
</div>

</div>


