/* carrinho.component.css */
.carrinho-container {
    max-width: 800px;
    margin: auto;
  }
  
  .carrinho-item {
    border: 1px solid #000000;
    margin: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
  }
  
  .carrinho-item img {
    max-width: 100px;
    margin-right: 10px;
  }
  
  .carrinho-item-details {
    flex: 1;
  }
  
  .price {
    font-weight: bold;
    margin-bottom: 5px; /* Adiciona espaço abaixo do preço */
  }
  
  .quantity {
    margin-left: 10px;
    margin-right: 10px; /* Adiciona espaço à direita da quantidade */
  }
  
  .carrinho-item button {
    margin-top: 5px;
    margin-left: 10px; /* Adiciona espaço à esquerda do botão */
    padding: 8px 15px;
    color: rgb(0, 0, 0);
    border: 1px solid #000000;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 5px;
  }
  
  .carrinho-item button:hover {
    background-color: #7c7c7c;
  }
  
  .remove-button {
    background-color: #dc3545;
  }
  
  .remove-button:hover {
    background-color: #c82333;
  }
  
  .total-container {
    display: flex;
    justify-content:center;
    margin-top: 20px;
    align-items: center;
  }
  
  .total-label {
    font-weight: bold;
  }
  
  .total-price {
    font-weight: bold;
    color: #28a745;
  }
  
  .finalizar-button {
    margin-top: 15px;
    margin-left: 10px; /* Adiciona espaço à esquerda do botão */
    padding: 8px 15px;
    color: rgb(0, 0, 0);
    border: 1px solid #000000;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 5px;
    display: flex;
   
  }
  
  .finalizar-button:hover {
    background-color: #34c748;
  }

  .container-button{
    display: flex;
    justify-content:center;
    margin-top: 20px;
    align-items: center;
  }
  