.home_container{
    width:70%;
    margin:auto;
    padding-top:30px;
    display:flex;
    justify-content: space-around;
    align-items: baseline;
    flex-wrap:wrap;
}
.mini_card_container{
     
    width:70%;
    margin:auto;
    padding-top:80px;
    display:flex;
    justify-content: space-around;
    align-items: baseline;
    flex-wrap:wrap;
    
}
.catalog > h3{
    width:70%;
    margin:auto;
    padding-top:80px;
    display:flex;
    justify-content: space-around;
    align-items: baseline;
    flex-wrap:wrap;
    font-size: 50px;
 
}
.catalog_container{
    width:70%;
    margin:auto;
    padding-top:80px;
    display:flex;
    justify-content: space-around;
    align-items: baseline;
    flex-wrap:wrap;
}