<app-filtre></app-filtre>
<div class="home_container">
<app-card></app-card>
<app-card></app-card>
</div>
<div class="mini_card_container">
<app-mini-card></app-mini-card>
<app-mini-card></app-mini-card>
<app-mini-card></app-mini-card>
<app-mini-card></app-mini-card>
</div>
<hr>
<div class="catalog">
    <h3>Em destaque</h3>
<div class="catalog_container">
<app-catalog></app-catalog>
<app-catalog></app-catalog>
<app-catalog></app-catalog>
<app-catalog></app-catalog>
</div>
</div>
<div class="catalog">
    <h3>Mais vendidos</h3>
<div class="catalog_container">
<app-catalog></app-catalog>
<app-catalog></app-catalog>
<app-catalog></app-catalog>
<app-catalog></app-catalog>
</div>
</div>
<div class="catalog">
    <h3>Especial de natal</h3>
<div class="catalog_container">
<app-catalog></app-catalog>
<app-catalog></app-catalog>
<app-catalog></app-catalog>
<app-catalog></app-catalog>
</div>
</div>
<div class="catalog">
    <h3>Elogiados pela critica</h3>
<div class="catalog_container">
<app-catalog></app-catalog>
<app-catalog></app-catalog>
<app-catalog></app-catalog>
<app-catalog></app-catalog>
</div>
</div>
