<app-filtre></app-filtre>
<div class="home_container">
<app-card 
photoBigCard="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR9OLf2t4u6TYFJ_Lp6jqGmx48rOHX3PRd5_HK8oHTQor863GRwOv2m57gxOsXubMwbHtk&usqp=CAU"
titleBigCard="Promoção de natal"
descricaoBigCard="Celebre a magia do Natal com leituras encantadoras! Nossa promoção especial de Natal traz uma seleção cativante de livros para todos os gostos. 📚🎄✨"
 ></app-card>
<app-card
photoBigCard="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT58YNhfpvasZD0_sT1HjKhVn8dQ58TicV4-Q&usqp=CAU"
titleBigCard="Black Friday"
descricaoBigCard="Prepare-se para a Black Friday de tirar o fôlego! Nossa promoção imperdível traz descontos explosivos em uma ampla variedade de livros"
></app-card>
</div>
<div class="mini_card_container">
<app-mini-card titleMineCard="Promoções"></app-mini-card>
<app-mini-card titleMineCard="Livros retrô"></app-mini-card>
<app-mini-card titleMineCard="Livros infantis"></app-mini-card>
<app-mini-card titleMineCard="Lançamentos"></app-mini-card>
</div>
<hr>
<div class="catalog">
    <h3>Em destaque</h3>
<div class="catalog_container">
    <app-card-item photoCardItem="https://livrariacultura.vteximg.com.br/arquivos/ids/148167318/15062931.jpg?v=638144283834100000"></app-card-item>
    <app-card-item photoCardItem="https://livrariacultura.vteximg.com.br/arquivos/ids/148167513-300-300/15072218.jpg?v=638144283999100000"></app-card-item>
    <app-card-item photoCardItem="https://livrariacultura.vteximg.com.br/arquivos/ids/153141245-300-300/46583624.jpg?v=638192283269800000"></app-card-item>
    <app-card-item photoCardItem="https://livrariacultura.vteximg.com.br/arquivos/ids/148176752-300-300/42753664.jpg?v=638144296294700000"></app-card-item>
</div>
</div>
<div class="catalog">
    <h3>Mais vendidos</h3>
<div class="catalog_container">
    <app-card-item photoCardItem="https://cdn.kobo.com/book-images/ca2171a5-d629-455f-87d2-deeb49d40e1c/180/1000/False/algoritmos-da-opressao.jpg"></app-card-item>
    <app-card-item photoCardItem="https://cdn.kobo.com/book-images/4fae4de0-8232-4166-881b-0c9f90551a28/180/1000/False/clube-da-luta-3.jpg"></app-card-item>
    <app-card-item photoCardItem="https://cdn.kobo.com/book-images/325f0fac-40a0-4440-9659-69b72f92b9a8/180/1000/False/os-crimes-da-rua-morgue-2.jpg"></app-card-item>
    <app-card-item photoCardItem="https://cdn.kobo.com/book-images/08be9c9d-ea08-43d1-9652-b4197e9e3b29/180/1000/False/salem.jpg"></app-card-item>
</div>
</div>
<div class="catalog">
    <h3>Especial de natal</h3>
<div class="catalog_container">
    <app-card-item photoCardItem="https://cdn.kobo.com/book-images/fdec43a9-a55a-4f55-9bdf-cd1ef5f16809/353/569/90/False/para-sempre-natal-a-pousada-em-sunset-harbor-livro-8.jpg"></app-card-item>
    <app-card-item photoCardItem="https://cdn.kobo.com/book-images/bd10af27-c972-471c-8f98-6409468936e4/353/569/90/False/um-menino-chamado-natal.jpg"></app-card-item>
    <app-card-item photoCardItem="https://cdn.kobo.com/book-images/5b234c3a-ad88-4ee9-841f-2dc220cdd627/353/569/90/False/milagre-de-natal.jpg"></app-card-item>
    <app-card-item photoCardItem="https://cdn.kobo.com/book-images/b392e259-6b25-4b22-a418-b7cba300ae9c/353/569/90/False/tres-dias-ate-ao-natal.jpg"></app-card-item>
</div>
</div>
<div class="catalog">
    <h3>Elogiados pela critica</h3>
<div class="catalog_container">
    <app-card-item photoCardItem="https://encrypted-tbn3.gstatic.com/shopping?q=tbn:ANd9GcTHR7gmOiOLYVc2Ra75IevSrnE5B1g-SdI0CxC04_k77DwImcjkhW92ZQNShpSghNkWnGEYtkO1c-btJMn64rkCUH2u9sxLOSO372Dw35A&usqp=CAc"></app-card-item>
    <app-card-item photoCardItem="https://encrypted-tbn2.gstatic.com/shopping?q=tbn:ANd9GcQxcG0np5KEBkRHxc242I3rPYM5L6xYK5L2HO_GM-_SPWcBwLzhcikba3j67N3n3C2PzD5Wg6uZeITV5421dSJgSwVRP2OyNxge-2DyJf4&usqp=CAc"></app-card-item>
    <app-card-item photoCardItem="https://encrypted-tbn2.gstatic.com/shopping?q=tbn:ANd9GcR0a9pi7Ih3QYe_Ct4S9qzaxNAvAAv0AUrH7Zy8aF550N5FWydJ2_KkTXc4tjbckHlC36p4WTFQTnQwFgdkGholEQRJuDUclNQhxAHN1Atm&usqp=CAc"></app-card-item>
    <app-card-item photoCardItem="https://encrypted-tbn2.gstatic.com/shopping?q=tbn:ANd9GcSfemY4K7mADegZSIFsnd2cX-Acxigu6ZE-z8hqaFxXuHQyrxHJFmbng15mVPWAzH9WS3tlUKBD_KcINDmgtUgwyB5w7gTZARV9fuJMhxc&usqp=CAc"></app-card-item>
</div>
</div>
