<app-navbar 
logotip="assets/book.png"
logolike="assets/like.png"
logocar="assets/car.png"
logoaccount="assets/account.png">
</app-navbar>
<hr>
<app-filtre></app-filtre>
<div class="home_container">
<app-card 
photoBigCard="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR9OLf2t4u6TYFJ_Lp6jqGmx48rOHX3PRd5_HK8oHTQor863GRwOv2m57gxOsXubMwbHtk&usqp=CAU"
titleBigCard="Promoção de natal"
descricaoBigCard="Celebre a magia do Natal com leituras encantadoras! Nossa promoção especial de Natal traz uma seleção cativante de livros para todos os gostos. 📚🎄✨"
 ></app-card>
<app-card
photoBigCard="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT58YNhfpvasZD0_sT1HjKhVn8dQ58TicV4-Q&usqp=CAU"
titleBigCard="Black Friday"
descricaoBigCard="Prepare-se para a Black Friday de tirar o fôlego! Nossa promoção imperdível traz descontos explosivos em uma ampla variedade de livros"
></app-card>
</div>
<div class="mini_card_container">
<app-mini-card titleMineCard="Promoções"></app-mini-card>
<app-mini-card titleMineCard="Livros retrô"></app-mini-card>
<app-mini-card titleMineCard="Livros infantis"></app-mini-card>
<app-mini-card titleMineCard="Lançamentos"></app-mini-card>
</div>
<hr>
<div class="catalog">
    <h3>Em destaque</h3>
<div class="catalog_container">
    <app-card-item photoCardItem="https://livrariacultura.vteximg.com.br/arquivos/ids/148167513-300-300/15072218.jpg?v=638144283999100000"
    titleCardItem="Rainha Vermelha"
    descriptCardItem="Red Queen é um livro de fantasia para jovens escrito pela autora americana Victoria Aveyard, publicado pela editora HarperCollins e no Brasil pela Editora Seguinte, em 9 de junho de 2015"
    priceCardItem="R$ 34,99"
    ></app-card-item>
    <app-card-item photoCardItem="https://livrariacultura.vteximg.com.br/arquivos/ids/153141245-300-300/46583624.jpg?v=638192283269800000"
    titleCardItem="Harry Potter e a Pedra Filosofal"
    descriptCardItem="Harry Potter é um garoto órfão que vive infeliz com seus tios, os Dursleys. Ele recebe uma carta contendo um convite para ingressar em Hogwarts."
    priceCardItem="R$ 43,56"
    ></app-card-item>
    <app-card-item photoCardItem="https://livrariacultura.vteximg.com.br/arquivos/ids/148176752-300-300/42753664.jpg?v=638144296294700000"
    titleCardItem="Por lugares incríveis"
    descriptCardItem="Violet Markey tinha uma vida perfeita, mas todos os seus planos deixam de fazer sentido quando ela e a irmã sofrem um acidente de carro e apenas Violet sobrevive"
    priceCardItem="R$ 45,57"
    ></app-card-item>
</div>
</div>
<div class="catalog">
    <h3>Mais vendidos</h3>
<div class="catalog_container">
    <app-card-item photoCardItem="https://cdn.kobo.com/book-images/ca2171a5-d629-455f-87d2-deeb49d40e1c/180/1000/False/algoritmos-da-opressao.jpg"
    titleCardItem="Algoritmos da Opressão"
    descriptCardItem="Em Algoritmos de Opressão, Safiya Umoja Noble desafia a ideia de que mecanismos de pesquisa como o Google oferecem igualdade de condições para todas as formas de ideias, identidades e atividades"
    priceCardItem="R$ 48,64"
    ></app-card-item>
    <app-card-item photoCardItem="https://cdn.kobo.com/book-images/4fae4de0-8232-4166-881b-0c9f90551a28/180/1000/False/clube-da-luta-3.jpg"
    titleCardItem="Clube da luta"
    descriptCardItem="O clube da luta é idealizado por Tyler Durden, que acredita ter encontrado uma maneira de viver fora dos limites da sociedade e das regras sem sentido."
    priceCardItem="R$ 11,55"
    ></app-card-item>
    <app-card-item photoCardItem="https://cdn.kobo.com/book-images/325f0fac-40a0-4440-9659-69b72f92b9a8/180/1000/False/os-crimes-da-rua-morgue-2.jpg"
    titleCardItem="Os Crimes da Rua Morgue"
    descriptCardItem="No conto Os Crimes da Rua Morgue (The Murders in the Rue Morgue), Edgar Allan Poe conta a história do assassinato brutal de duas mulheres em Paris."
    priceCardItem="	R$ 50,75"
    ></app-card-item>
</div>
</div>
<div class="catalog">
    <h3>Especial de natal</h3>
<div class="catalog_container">
    <app-card-item photoCardItem="https://cdn.kobo.com/book-images/fdec43a9-a55a-4f55-9bdf-cd1ef5f16809/353/569/90/False/para-sempre-natal-a-pousada-em-sunset-harbor-livro-8.jpg"
    titleCardItem="Para Sempre Natal"
    descriptCardItem="PARA SEMPRE NATAL é o livro 8 na série de best-sellers A POUSADA EM SUNSET HARBOR, que começa com Agora e Para Sempre (Livro 1)."
    priceCardItem="R$ 24,90"
    ></app-card-item>
    <app-card-item photoCardItem="https://cdn.kobo.com/book-images/bd10af27-c972-471c-8f98-6409468936e4/353/569/90/False/um-menino-chamado-natal.jpg"
    titleCardItem="Um menino chamado Natal"
    descriptCardItem="Nikolas, de onze anos, apelidado de Natal, recebeu apenas um brinquedo na vida, mas ele é um garoto feliz, porque o ganhou de seus pais, que o amam. Certo dia seu pai desaparece e Nikolas precisa viajar para o Polo Norte para salvá-lo."
    priceCardItem="R$ 27,66"
    ></app-card-item>
    <app-card-item photoCardItem="https://cdn.kobo.com/book-images/5b234c3a-ad88-4ee9-841f-2dc220cdd627/353/569/90/False/milagre-de-natal.jpg"
    titleCardItem="Milagre De Natal"
    descriptCardItem="Plano Nacional de Leitura Livro recomendado para apoio a projetos relacionados com o Natal nos 3º, 4º, 5º e 6º anos de escolaridade."
    priceCardItem="R$ 28,99"
    ></app-card-item>
</div>
</div>
<div class="catalog">
    <h3>Elogiados pela critica</h3>
<div class="catalog_container">
    <app-card-item photoCardItem="https://encrypted-tbn3.gstatic.com/shopping?q=tbn:ANd9GcTHR7gmOiOLYVc2Ra75IevSrnE5B1g-SdI0CxC04_k77DwImcjkhW92ZQNShpSghNkWnGEYtkO1c-btJMn64rkCUH2u9sxLOSO372Dw35A&usqp=CAc"
    titleCardItem="A cabana"
    descriptCardItem="Durante uma viagem de fim de semana, a filha mais nova de Mack Allen Phillips é raptada e evidências de que ela foi brutalmente assassinada são encontradas numa velha cabana."
    priceCardItem="R$ 43,99"
    ></app-card-item>
    <app-card-item photoCardItem="https://encrypted-tbn2.gstatic.com/shopping?q=tbn:ANd9GcQxcG0np5KEBkRHxc242I3rPYM5L6xYK5L2HO_GM-_SPWcBwLzhcikba3j67N3n3C2PzD5Wg6uZeITV5421dSJgSwVRP2OyNxge-2DyJf4&usqp=CAc"
    titleCardItem="Memórias póstumas de Brás Cubas"
    descriptCardItem="Não tive filhos, não transmiti a nenhuma criatura o legado da nossa miséria. Com essas palavras, o narrador de Memórias Póstumas de Brás Cubas resume a sua vida."
    priceCardItem="R$ 11,99"
    ></app-card-item>
    <app-card-item photoCardItem="https://encrypted-tbn2.gstatic.com/shopping?q=tbn:ANd9GcR0a9pi7Ih3QYe_Ct4S9qzaxNAvAAv0AUrH7Zy8aF550N5FWydJ2_KkTXc4tjbckHlC36p4WTFQTnQwFgdkGholEQRJuDUclNQhxAHN1Atm&usqp=CAc"
    titleCardItem="Essa gente"
    descriptCardItem="Um escritor decadente enfrenta uma crise financeira e afetiva enquanto o Rio de Janeiro colapsa à sua volta. Tragicomédia urgente, o novo romance de Chico Buarque é a primeira obra literária de vulto a encarar o Brasil do agora."
    priceCardItem="R$ 26,99"
    ></app-card-item>
</div>
</div>
